@inherits LayoutComponentBase

<PageTitle>FullstackProjectManagement.Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div style="background-color:#f7f7f7" class="h1 navbar border-bottom p-5 m-0 bg-gradient">
            <a href="" class="text-primary fw-bolder m-auto text-decoration-none bg-opacity-100">Fullstack Project Management</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
