<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FPM - WASM</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EmployeeTasks">
                <span class="oi oi-task" aria-hidden="true"></span> Registered Tasks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExchangeRates">
                <span class="oi oi-dollar" aria-hidden="true"></span> Exchange Rates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="verifyauth">
                <span class="oi oi-people" aria-hidden="true"></span> Auth State
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simon">
                <span class="oi oi-monitor" aria-hidden="true"></span> Simon Game
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
