@page "/ExchangeRates"

<PageTitle>Exchange Rates</PageTitle>

<div class="container">
    <div class="row">
        @*<EditForm class="card card-body bg-light mt-3">
            <fieldset class="w-100">
                <InputSelect>
                    <option>
                </InputSelect>
            </fieldset>
        </EditForm>*@
    </div>
</div>