@page "/UpdateEmployee/{id}"
@inject IEmployeeClientData _data
@inject IMapper _mapper
@inject NavigationManager NavManager

<div class="form-group ">
    <h2 class="text-primary m-4">Update Employee</h2>

    <EditForm Model="employeeDto" OnValidSubmit="@Update" class="card card-body bg-light mt-3">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row form-group">
            <div class="row w-100 mb-3">
                <div class="col-s-auto col-lg-4 mb-2">
                    <label for="id">Employee-Id</label>
                    <input class="form-control" id="id" placeholder="@Id" disabled />
                </div>
                <div class="col-s-auto col-lg-4 mb-2">
                    <label for="firstName">First Name</label>
                    <InputText class="form-control" id="firstName" @bind-Value="employeeDto.FirstName"/>
                </div>
                <div class=" col-s-auto col-lg-4 mb-2">
                    <label for="lastName">Last Name</label>
                    <InputText class="form-control" id="LastName" @bind-Value="employeeDto.LastName"/>
                </div>
                <div class="col-s-auto col-lg-4">
                    <label for="birthdate" class="m-2">
                        Date of Birth
                        <InputDate class="form-control" id="birthdate" @bind-Value="employeeDto.Birthdate"/>
                    </label>
                </div>
            </div>

            <div class="row w-100 mb-3">
                <div class="col-s-auto col-lg-4 mb-2">
                    <label for="city">City</label>
                    <InputText class="form-control" id="city" @bind-Value="employeeDto.City"/>
                </div>
                <div class="col-s-auto col-lg-4 mb-2">
                    <label for="email">Email</label>
                    <InputText class="form-control" id="email" @bind-Value="employeeDto.Email"/>
                </div>
                <div class="col-s-auto col-lg-4 mb-2">
                    <label for="phone">Phone</label>
                    <InputText class="form-control" id="phone" @bind-Value="employeeDto.Phone"/>
                </div>
            </div>
            <div class="col-s-auto col-lg-4 mb-2">
                <label for="password">Password</label>
                <InputText class="form-control " id="password" type="password" @bind-Value="employeeDto.Password" />
            </div>
        </div>

        <div class="m-4 row w-75">
            <label for="role" class="text-primary ">Select Role</label>
            <InputSelect class="h5 list-group-item-secondary fw-bold col-s-10 col-md-auto col-l-2" id="role"
                         @bind-Value="employeeDto.Role">
                <option value="Employee">Employee</option>
                <option value="Admin">Admin</option>
                <option value="Manager">Manager</option>
            </InputSelect>
        </div>

        <div class="w-75 m-5 text-center row">
            <button type="submit" class="btn btn-warning fw-bold m-2 col-sm-auto col-lg-5">Update Employee</button>
            <button type="reset" class="btn btn-secondary m-2 col-sm-auto col-lg-5">Reset</button>
            <a href="employees" class="btn btn-primary m-2 col-sm-auto col-lg-5">Cancel</a>
        </div>
    </EditForm>
</div>


@code {
    Employee employee = new Employee();
    EmployeeDto employeeDto = new EmployeeDto();
    [Parameter]
    public string Id { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            employee = await _data.GetEmployeeById(Id);
            employeeDto = _mapper.Map<EmployeeDto>(employee);
        }
        catch (Exception) { }
    }

    private async Task Update()
    {
        try
        {
            await _data.UpdateEmployee(Id, employeeDto);
            NavManager.NavigateTo("/Employees");
        }
        catch (Exception) { }
    }


}
